
.Daka{
    margin-left: 100px;
    margin-right: 100px;
}
.address{
    height: 450px;
    width: 100%;
    
}
.but{
    height: 50px;
    width: 100px;
    margin-top: 30px;
    margin-left: 45%;
    font-size:30px;
    font-family:'Courier New', Courier, monospace
}